NEXT_PUBLIC_SUPABASE_URL=https://cggvjgpjxqhwpindwuzd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=PASTE_YOUR_ANON_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=PASTE_YOUR_SERVICE_ROLE_KEY_HERE
NEXT_PUBLIC_ADMIN_EMAIL=admin@fashionstore.com
NEXT_PUBLIC_ADMIN_PASSWORD=admin123
NEXT_PUBLIC_WHATSAPP_NUMBER=919876543210

